button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: #407BFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    width: 450px;
    height: 70px;
    text-align: center;
}

button:hover {
    opacity: 0.9;
}

p {
    width: 380px;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #26323880;
    position: relative;
    border-radius: 0 10px 10px 0;

}