<header class="app-header">
    <div>
        <h1><a href="/">DS Catalog</a></h1>
        <nav>
            <ul>
                <li><a routerLink="/" [ngClass]="{'selected': isActive('/')}" (click)="setActive('/')">HOME</a></li>
                <li><a routerLink="/product" [ngClass]="{'selected': isActive('/product')}" (click)="setActive('/product')">CATÁLOGO</a></li>
                <li><a routerLink="/admin/product" [ngClass]="{'selected': isActive('/admin/product')}" (click)="setActive('/admin/product')">ADMIN</a></li> 
            </ul>
        </nav>
    </div>
</header>