.app-category-crud {
    margin: 80px 50px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}

input {
    border: 1px solid #E1E1E1;
    font-size: 18px;
    color: #9E9E9E;
    border-radius: 10px;
    height: 50px;
    width: 408px;
    padding: 0 20px;
    margin-bottom: 30px;
}

app-buttons-crud {
    position: relative;
    top: 410px;
}