<section class="app-category-crud">
    <h2>DADOS DA CATEGORIA</h2>
    <div class="inputs">
        <form>
            <span *ngIf="categoryName.hasError('required')">Campo requirido!</span>
            <span *ngIf="categoryName.hasError('nullValidator')">Campo Vazio!</span>
            <input type="text" [formControl]="categoryName" placeholder="Nome">
            <div>
                <app-buttons-crud (click)="insertCategory()"></app-buttons-crud>
            </div>
        </form> 
    </div>
</section>
