<main class="app-home">
    <section>
        <div>
            <div class="interno">
                <h2>Conheça o melhor catálogo de produtos</h2>
                <p>Ajudaremos você a encontrar os melhores produtos disponíveis no mercado.</p>
                <a href="/product">
                    <app-button-principal btn-text="INICIE AGORA A SUA BUSCA"></app-button-principal>
                </a>
            </div>
            <div>
                <img src="/assets/Desenho.png" alt="Desenho da Home Page">
            </div>
        </div>
    </section>
</main>