.buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    height: 60px;
    width: 273px;
    border-radius: 10px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#cancel {
    border: 1px solid #DF5753;
    color: #DF5753;
    background-color: #fff;
}

#save {
    border: 1px solid #407BFF;
    color: #fff;
    background-color: #407BFF;
}

button:hover {
    opacity: 0.7;
}