button {
    background-color: #407BFF;
    width: 450px;
    height: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 90px;
}

p {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

button:hover {
    opacity: 0.8;
}