<section class="app-product-crud">
    <h2>DADOS DO PRODUTO</h2>
    <div class="inputs">
        <form (submit)="onSubmit($event)">
            <div class="form">
                <div class="left">
                    <input type="text" placeholder="Nome do produto" [formControl]="productName" required>
                    <select [formControl]="categoryId" required>
                        <option value="" >Categorias</option>
                        <option *ngFor="let category of categories.content" value="{{category.id}}">{{category.name}}</option>
                    </select>
                    <input type="number" placeholder="Preço" [formControl]="productPrice" required>
                    
                    <input type="file" id="real-file" hidden="hidden" required/>
                    <button id="custom-button">ADICIONAR IMAGEM</button>
                    <p id="custom-text">As imagens devem ser  JPG ou PNG e não devem ultrapassar <span>5 mb.</span></p>
                </div>
                <div class="right">
                    <textarea [formControl]="productDescription" placeholder="Descrição" required></textarea>
                </div>
            </div>
            <app-buttons-crud (click)="onSubmit($event)"></app-buttons-crud>
        </form>
    </div>
</section>
