.app-product-crud {
    margin: 80px 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    margin: 39px 0;
}

.left input, .left select, .right textarea {
    border: 1px solid #E1E1E1;
    font-size: 18px;
    color: #9E9E9E;
    border-radius: 10px;
}

.left input, .left select {
    height: 50px;
    margin-bottom: 30px;
}

input {
    width: 408px;
    padding: 0 20px;
}

select {
    width: 450px;
    padding: 0 20px;
    background-color: #fff;
}

textarea {
    width: 408px;
    height: 428px;
    padding: 10px 20px;
    resize: none;
}


app-buttons-crud {
    position: relative;
    left: 165px;
}

.left button {
    width: 210px;
    height: 40px;
    border-radius: 10px;
    background-color: #9E9E9E;
    color: #fff;
    font-weight: 700;
    border: none;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.left button:hover {
    opacity: 0.8;
}

.left p {
    width: 210px;
    color: #407BFF;
    font-size: 14px;
}

.left p span {
    font-weight: bold;
}