<section class="app-login">
    <div class="esquerda">
        <h1>Divulgue seus produtos no DS Catalog</h1>
        <p>Faça parte do nosso catálogo de divulgação e aumente a venda dos seus produtos.</p>
        <img ngSrc="/assets/login.png" alt="Imagem da tela de login" height="478" width="535" priority>
    </div>
    <div class="direita">
        <h2>LOGIN</h2>
        <form class="login">
            <div>
                <input type="email" placeholder="Email" [formControl]="username" required="true"> 
                <input type="password" placeholder="Senha" [formControl]="password" required="true">
            </div>
            <span class="error">{{ errorMessage }}</span>
            <a routerLink="/recover/identy">Esqueceu a senha?</a>
        </form>
        <app-button-principal btn-text="LOGAR" (click)="getLogin()"></app-button-principal>
        <p>Não tem cadastro? <a href="/cadastrar">CADASTRAR</a></p>
    </div>
</section>
