.app-login {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.esquerda {
    width: 645px;
}

.app-login h1 {
    font-size: 55px;
}

.app-login p {
    font-size: 24px;
    color: #9E9E9E;
    margin: 50px 0;
    width: 516px;
}

.direita {
    border-radius: 20px;
    background-color: #FFF;
    padding: 109px 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.direita h2 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
}

.login div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login input {
    width: 427px;
    height: 28px;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #9E9E9E;
    font-size: 18px;
}


.login a {
    text-decoration: none;
    font-size: 18px;
    text-align: start;
}

.login a:hover {
    text-decoration: underline;
}

.error {
    font-size: 18px;
    font-weight: normal;
    color: #DF5753;
}

.direita p {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    width: 300px;
   
}
.direita a {
    color: #407BFF;
}