.app-catalog {
    width: 1082px;
    margin: 0 auto;
}

.app-catalog h2 {
    font-size: 24px;
    color: #263238;
    margin: 10px 0;
}

form {
    width: 1082px;
    height: 60px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 
    0 5px  10px 0 rgba(0, 0, 0, 0.2), 
    0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

input:focus {
    outline: none;
}

form input, form select {
    height: 28px;
    font-size: 18px;
    color: #9E9E9E;
}

form input[type = text] {
    width: 430px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #E1E1E1;
}

form button {
    background-color: #fff;
    color: #9E9E9E;
    border: none;
    cursor: pointer;
    position: relative;
    left: -25px;
    top: 3px;
}

form button span:hover {
    color: #000;
}

form select {
    width: 297px;
    border: none;
    border-bottom: 1px solid #E1E1E1;
    background-color: #fff;
}

form input[type = reset] {
    width: 218px;
    height: 38px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #E1E1E1;
    background-color: #fff;
    cursor: pointer;
}

form input[type = reset]:active {
    color: #000;
    border-color: #000;
}

.produtos {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    width: 1082px;
    height: 662px;
}

.produto {
    border-radius: 13px;
    background-color: #fff;
    width: 248px;
    height: 316px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 
    0 5px  10px 0 rgba(0, 0, 0, 0.2), 
    0 10px 25px 0 rgba(0, 0, 0, 0.19);
}
.produto:hover {
    opacity: 0.8;
}

.produto img {
    width: 165px;
    height: 165px;
    margin: 10px;
}

.produto h3 {
    font-size: 18px;
    border-top: 1px solid #E1E1E1; 
    padding-top: 15px;
    color: #263238;
}

.produto p {
    margin: 15px;
    font-size: 32px;
    font-weight: 700;
    color: #407BFF;
}

.produto span {
    font-size: 18px;
    font-weight: 400;
    color: #9E9E9E;
    position: relative;
    top: -9px;
    left: -5px;
}

.pages {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pages button {
    margin: 0 10px;
    background-color: #E1E1E1;
    color: #fff;
    border: none;
    font-size: 18px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.pages button:hover {
    background-color: #407BFF;
}

.pages button.selected {
    background-color: #407BFF;
}

.pages span {
    font-size: 26px;
    cursor: pointer;
    color: #9E9E9E;
}

.pages span:hover, 
.pages span.active {
    color: #407BFF;
}
