.app-recover {
    background-color: #fff;
    width: 550px;
    height: 570px;
    border-radius: 20px;
    box-shadow: 
    0 5px  10px 0 rgba(0, 0, 0, 0.2), 
    0 10px 25px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}