.app-product {
    width: 1360px;
    height: 780px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 
    0 5px  10px 0 rgba(0, 0, 0, 0.2), 
    0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.app-product a{
    text-decoration: none;
}

.app-product button {
    background-color: #fff;
    border: none;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 40px;
    left: 60px;
}

.app-product span {
    color: #407BFF;
}

.intern {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;
}

h3 {
    font-size: 36px;
    margin-top: 15px;
}

h4 {
    font-size: 24px;
    margin: 35px;
}

.left, .right {
    width: 586px;
    height: 593px;
}

img {
    padding: 22px 115px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
}

.left p {
    font-size: 48px;
    font-weight: 700;
    color: #407BFF;
    position: relative;
    top: 70px;
    left: 4px;
}

.left span {
    font-size: 28px;
    font-weight: 400;
    color: #9E9E9E;
    position: relative;
    top: -9px;
    left: -5px;
}

.right {
    color: #9E9E9E;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
}

.right p {
    font-size: 18px; 
    margin: 35px;
}