.app-home section {
    width: 1360px;
    height: 780px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-home div {
    display: flex;
    width: 1200px;
    height: 482px;
}

.interno {
    flex-direction: column;
}

.app-home h2 {
    font-size: 55px;
    font-weight: bold;
}

.app-home p {
    font-size: 24px;
    color: #9E9E9E;
    margin-top: 20px;
}

.app-home button {
    background-color: #407BFF;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    width: 450px;
    height: 70px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    position: absolute;
    top: 670px
}

.app-home button:hover {
    background-color: #407cffe4;
}
